[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/kyle/blender-git/build_linux/bin/blender %
Name=Blender
Comment=Custom definition for Thunderbird

