configuration {
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{name}";
    window-format: "{c}  {t}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    matching: "fuzzy";
    display-drun: "󰀻  Applications";
    display-window: "󰖲  Windows";
    display-run: "  Run command";
    display-media: "󰎈  Media";
    display-tomat: "󰔟  Focus";
    display-sound: "  Sound";
    display-session: "  Session";
    sidebar-mode: true;
}

@theme "cockpit"
