[Desktop Entry]
Type=Application
Name=adskidmgr Scheme Handler
Exec=sh -c 'fusion360.wine "$(find /home/kyle/snap/fusion360/common/.wine -name "AdskIdentityManager.exe" | head -1 | xargs -I '{}' echo {})" "%u"'
StartupNotify=false
MimeType=x-scheme-handler/adskidmgr;
