[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Comment=Cross-platform .NET IDE
GenericName=IDE
Exec=/opt/JetBrains/JetBrains\ Rider-2025.1.2/bin/rider.sh %f
Icon=jetbrains-rider
StartupWMClass=jetbrains-rider
NoDisplay=false
Categories=Development;IDE;
StartupNotify=true
Terminal=false
MimeType=text/x-csharp;text/x-cshtml;application/xml;text/xml;application/xaml+xml;
